body{
    position: absolute;
    margin-top: -600px;
    margin-left: 300px;
    width: 1100px;

}
p{
    padding: 10px;
    border:1px solid rgb(231, 230, 230)  ;
    width: 900px;
}
b{
    color: rgb(104, 103, 103);
    font-weight: 400;
display: flex;   
justify-content: flex-end; 
}
#in{
    width: 700px;
    margin-top: -40px;
    margin-left: 25px;
    position: absolute;
    padding: 6px;
    box-shadow: 2px 2px 2px 2px #b9b9b9;

}
