.example-container {
  width: 300px;
  height: 700px;
  background-color: white;
  
}

.example-sidenav-content {
  display: flex;
  height: 100%;

}

.example-sidenav {
  padding: 20px;
  border: none;
}
#back{
  color: rgb(27, 121, 197);
}

#btn{
  background-color: rgb(27, 121, 197);
  color: white;
  border: none;
  width: 200px;

}
#btn:hover{
  background-color: rgb(56, 152, 231);
  cursor: pointer;

}
b{
  margin-left: 5px;
  font-size: 17px;
}
#i1{
  color: rgb(224, 35, 123);
}
#i2{
  color: rgb(231, 231, 27);
}#i3{
  color: rgb(35, 155, 224);
}#i4{
  color: rgb(226, 59, 176);
}#i5{
  color: rgb(21, 190, 44);
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  margin-top: -1px;
  color: rgb(83, 131, 12);

}
#side{
  border: 1px solid rgb(190, 190, 190);
}